@use "variables" as *;

@keyframes gradientButton {
    0% {
        background-position: 0% 49%
    }
    50% {
        background-position: 100% 52%
    }
    100% {
        background-position: 0% 49%
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}