@use "variables" as *;

* {
    margin: 0;
    padding: 0;
}

.carousel {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    align-self: start;
    transition: 1s ease;

    &__switcher {
        border: none;
        background: none;
        transition: 0.3s ease;
        justify-self: center;

        &-image {
            width: $carouselSwitcher;
            height: $carouselSwitcher;
        }
    
        &:hover {
            transform: scale(1.2);
        }
    }

    &__list {
        list-style: none;
        
        align-content: center;
    }

    &__list-item {
        background: $lightcolor;
        box-shadow: 0 0 10px 5px $background;
        height: 300px;
        transition: 1s ease;
        display: grid;
        padding: 10% 5% 10% 0;
        grid-template-columns: 30% 70%;
        grid-template-rows: 70% 30%;
        grid-template-areas: 
                    "image text"
                    "name text";
        
        &:hover {
            box-shadow: 0 0 10px 1px $baseFontColor;
        }
    
    }

    &__image {
        grid-area: image;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        align-self: end;
        justify-self: center;
        object-position: center;
        object-fit: cover;
    }

    &__name {
        grid-area: name;
        font-size: $logoFontSize;
        font-family: $additionalFont;
        font-weight: 800;
        align-self: start;
        justify-self: center;
        margin: 5px 0 0;
    }

    &__text {
        grid-area: text;
        font-size: $listFontSize;
        font-family: $additionalFont;
        padding: 0 0 0 5px;
        grid-row: 1/2;
    }
}

.is_hidden {
    display: none;
}