@use "variables" as *;

* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15%;
    align-items: center;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: $form;
        font-size: $listFontSize;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: $form
    }

    &__button {
        width: $form;
        height: 40px;
        border: 0.5px solid $baseFontColor;
        background: $lightcolor;
        cursor: pointer;
        color: $baseFontColor;
        font-size: $listFontSize;
        font-weight: 400;
        transition: 0.3s ease;
        font-family: $font;

        &:hover {
            background: $hover;
            color: $lightcolor;
            box-shadow: 0 0 3px 1px $baseFontColor;
        }

        &:focus-visible {
            box-shadow: 0 0 3px 1px $baseFontColor;
            border: none;
            outline: none;
        }

        &:active {
            transform: scale(1.02);
        }   

        &:disabled {
            pointer-events: none;
            color: $primary;
        }
    }

    &__input {
        border: none;
        height: 40px;
        padding: 5px 7px;
        background: $lightcolor;    
        transition: 0.3s ease;

        &:hover {
            box-shadow: 0 0 3px 1px $baseFontColor;
        }

        &:focus-visible {
            box-shadow: 0 0 3px 1px $baseFontColor;
            border: none;
            outline: none;
        }
    }
}