@use "variables" as *;

html, body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;
	margin: 0;
	padding: 0;
}

.page__wrapper {
	padding: 0 2%;
	// &_locked {
	// 	position: fixed;
	// }
}