@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+RO:wght@100..400&display=swap');

$background: #FFF4F3;
$primary: #F0DDDC;
$hover: #CC7E7C;

$font: "Montserrat", sans-serif;
$cursiveFont: "Great Vibes", cursive;
// $fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: #342525;


$menuFontSize: clamp(0.5rem, 0.4013rem + 0.3158vw, 0.875rem);
$logoFontSize: clamp(0.75rem, 0.4539rem + 0.9474vw, 1.875rem);
$mainHeadingFontSize: clamp(2.8125rem, 1.3393rem + 3.2738vw, 6.25rem);
$quoteFontSize: clamp(1.25rem, 0.7566rem + 1.5789vw, 3.125rem);





// $secondary: white;
// $primaryLight: #1E334F;
// $error: #F18B7E;

// $category1: #83FA9D;
// $category2: #FAD883;
// $category3: #B783FA;
// $category4: #83DDFA;
// $category5: #FAA083;

// $titleFontSize: 2.5em;
// $headerElementsSize: 4.5rem;
// $headerHeight: 9rem;

// $maxPageWidth: 1320px;
// $defaultPadding: 2.4rem;

// $defaultBorderRadius: 3rem;
// $defaultBorder: 2px solid $primaryLight;
// $hoverBorder: 2px solid white;
// $overlayBackground: rgba(0, 0, 0, 0.8);
